.container{
	margin-top: 50px;
	height: 100%;
}

/*css for normal slideshow*/
.slideshow-container {
  width: 750px;
  height: 550px;
  background-color: green;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img{
	margin-top: 10px;
	width: 680px;
	height: 500px;
	margin-left: 30px;
	margin-right: 30px;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*end of normal slideshow css*/
 
 /*tablet slideshow css*/
 @media only screen and (min-width: 775px){
 	body{
 		overflow-x: hidden;
 		background-color: steelblue;
 	}
 	.slideshow-container{
 		background-color: steelblue;
 		height: 600px;
 		margin-bottom: 10px;
 		width: 100%;
 	}
 	.mySlides img{
 		margin-top: 10px;
 		margin-left: 1px;
 		margin-right: 20px;
 		width: 100%;
 		height: 580px;
 	}

 }

/*end of slideshow*/

/*main body begins*/
.box{
	background-image: url('../images/bg.jpg');
	background-size: 100% 100%;
	margin-top: 30px;
	width: 750px;
	height: 1500px;
}
.box h1, .b h1{
	margin-top: 15px;
	font-family: sans-serif;
	font-weight: bolder;
	color: orange;
	font-size: 40px;
	margin-left: 30px;
}
.box p, .b p{
	margin-left: 20px;
	font-family: sans-serif;
	font-size: 30px;
	line-height: 1.5;
}
.box h2 h3, .b h2,h3{
	margin-left: 30px;
	color: aqua;
	font-size: 35px;
	font-family: sans-serif;
	font-weight: bolder;
}
.box ul{
	font-size: 28px;
	font-weight: bold;
	color: green;
}
.box span, .b span{
	margin-left: 100px;
	font-size: 20px;
}
.b{
    background-image: url('../images/bg.jpg');
	background-size: 100% 100%;
	margin-top: 30px;
	width: 750px;
	height: 2050px;	
}
.b ul{
	font-size: 28px;
	font-weight: bold;
	color: green;
}
.gall{
	width: 100%;
	height: 500px;
}
.pict img{
	display: block;
	width: 200px;
	height: 200px;
}
.pict p{
	display: block;
	font-size: 30px;
	font-family: sans-serif;
}
/*tablet main styling*/
 @media only screen and (min-width: 775px){
 	.box{
 		margin-right: 2px;
 		margin-top: 30px;
 		width: 100%;
 		height: 1250px;
 	}
 	.b{
 		margin-right: 2px;
 		margin-top: 30px;
 		width: 100%;
 	}
 	.pict img{
 		width: 300px;
 		height: 300px;
 	}
 	.b p{
 		display: block;
 	}
 	.box p{
 		display: block;
 		font-family: sans-serif;
 		font-size: 20px;
 	}
 	.box h1{
 		margin-top: 30px;
 	}
 	.box h2,h3{
 		margin-left: 30px;
 		color: aqua;
 	}
 	.box ul{
 		margin-left: 150px;
 	}
 }
/*main body style ends*/

 /*contact styling begins*/
 .contact{
  background-image: none;
  background-color: grey;
  width: 98%;
  margin-left: 10px;
  margin-right: 10px;
  height: 1000px;
}
.contact textarea{
  width: 500px;
  height: 200px;
}
.contact form{
	margin-left: 20px;
}
.contact form label{
	font-size: 50px;
}
.contact form input, textarea{
	font-size: 30px;
}
 @media only screen and (min-width: 775px){
	.contact{
	  box-sizing: border-box;
	  margin: 10px;
	  font-family: sans-serif;
	  font-size: 16px;
	  height: 900px;
	}
	.contact form{
	  margin: 30px;
	}
	.contact h1{
	  margin-left: 30px;
	  font-weight: bolder;
	  font-family: sans-serif;
	  font-size: 26px;
	  color: aqua;
	}
	.contact label{
	  color: black;
	  font-size: 20px;
	}
	.contact textarea{
	  width: 500px;
	  height: 200px;
	}
}
/*end of contact styling*/

/*resource styling begins*/

/*event styling*/
.galler{
	margin-bottom: 20px;
	width: 100%;
	height:1100px;
	background-color: #eeeeee;
}
.pic{
	margin-left: 40px;
	margin-right: 15px;
	float: left;
	display: block;
	margin-bottom: 30px;
	margin-top: 10px;
	height: 200px;
}
.pic img{
	margin: 5px;
	width: 152;
	height: 150px;
}
 @media only screen and (min-width: 775px){
 	.box{
 		margin-top: 30px;
 	}
 	.galler{
 		margin-right: 50px;
 		height: 700px;
 		width: 100%;
 	}
 	.pic{
 		display: block;
 		margin-right: 10px;	
 		float: left;
 		margin-left: 20px;
 		margin-bottom: 50px;
 	}
 	.pic img{
 		width: 200px;
 		height: 180px;
 	}
}
/*end of event styling*/

/*downloads styling begins*/
.down{
	margin-bottom: 30px;
	font-size: 25px;
	width: 100%;
}
button.accord{
	background-color: #eee;
	color: #444444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border:none;
	text-align: left;
	outline: none;
	font-size: 28px;
	transition: 0.4s;
}
button.accord.active,button.accord:hover{
	background-color: #dddddd;
}
button.accord:after{
	content: '\02795';
	font-size: 25px;
	color:gold;
	float: right;
	margin-right: 40px;
}
button.accord.active:after{
	content: "\2796";
}
.pane{
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
	font-size: 24px;
}
.pane.show{
	opacity: 1;
	max-height: 500px;
}
/*end of download styling*/

/*order styling begins*/
.ord input{
	cursor: pointer;
	margin-left: 50px;
	font-size: 30px;
}
.ord form label{
	font-size: 38px;
	margin-left: 20px;
}
.ord button{
	cursor: pointer;
	font-size: 30px;
	margin-left: 18px;
}
.ord p{
	font-size: 30px;
	font-weight: bold;
}

/*leadership styling begins*/
.bx{
	background-color: grey;
	margin-top: 30px;
	width: 750px;
	height: 4500px;
	margin-bottom: 300px;
}
.b{
	background-color: grey;
	margin-top: 30px;
	width: 750px;
	height: 3300px;
	margin-bottom: 100px;
}
.led{
	width: 100%;
}
.ld{
	float: none;
	display: block;
	margin: 10px;
}
.ld img{
	height: 180px;
	width: 180px;
	border-radius: 30px;
	margin-left: 100px;
	margin-top: 50px;
}
.led p{
	color: white;
	font-family: sans-serif;
	font-size: 25px;
	line-height: 1.4;
}
.ld ul{
	color: green;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
}
.bx h1{
	color: orange;
	margin-left: 10px;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bolder;
}
/*desktop leader styling*/
 @media only screen and (min-width: 775px){
 	.bx, .b{
 		margin-right: 2px;
 		margin-top: 30px;
 		width: 100%;
 		height: 3500px;
 		height: 100%;
 		background-color: grey;
 		margin-bottom: 50px;
 	}
 	.bx p, .b p{
 		color: white;
 		display: block;
 		font-size: 22px;
 		margin-right: 5px;
 	}
 	.led{
 		width: 100%;
 	}
 	.ld{
 		float: left;
 		padding: 1px;
 		display: block;
 		width: 45%;
 	}
 	.ld img{
 		width: 230px;
 		height: 230px;
 		margin-left: 10px;
 	}
 	.ld ul{
 		font-size: 20px;
 		color: green;
 	}
 }
/*end of resource styling-->