.bx{
	background-color: grey;
	height: 5000px;
	width: 100%;
	width: 1000px;
	margin-top: 50px;
}
.led{
	background-color: grey;
	height: 2200px;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 400px;
}
.ld{
	float: none;
	display: block;
	margin: 20px;
}
.ld img{
	width: 180px;
	height: 180px;
	margin-left: 100px;
	border-radius: 30px;
}
.bx p{
	display: block;
	color: white;
	font-family: sans-serif;
	font-size:30px;
	line-height: 1.4;
}
.bx ul{
	color: green;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
}
.bx h1, h2{
	color: orange;
	font-weight: bolder;
	font-size: 30px;
	font-family: sans-serif;
}
 @media only screen and (min-width: 700px){
 	.led{
 		height: 1850px;
 	}
 	.bx{
 		width: 1300px;
 		height: 4300px;
 	}
 }